attr
networkx
aiodns
click
pytz
tzlocal
eventlet
psutil
fastapi
dill
scipy
art
scikit-learn
uvloop
tdigest
pydantic
GitPython
python3-dtls
zstandard
cryptography
python-dotenv
aioquic
playwright
protobuf
graphql-core
cloudpickle
orjson
msgspec
wcwidth>=0.1.4
six>=1.9.0
ordereddict==1.1; python_version < "2.7"
backports.functools-lru-cache>=1.2.1; python_version < "3.2"
jinxed>=1.1.0; platform_system == "Windows"