attr
networkx
aiodns
click
pytz
tzlocal
eventlet
psutil
dill
art
scipy
scikit-learn
uvloop
tdigest
pydantic
GitPython
zstandard
cryptography
python-dotenv
aioquic
playwright
protobuf
graphql-core
cloudpickle
orjson
msgspec
plotille
